<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Envío de Datos</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="form-container">
  <h2>Enviar Datos</h2>
  <form id="dataForm">
    <label for="data">Datos:</label>
    <input type="text" id="data" name="data" required>
    <button type="button" id="submitButton">Enviar</button>
  </form>
  <div id="resultContainer">
    <h3>Resultado:</h3>
    <label for="resultBox"></label>
    <textarea id="resultBox" rows="10" cols="50" readonly></textarea>
  </div>
</div>
<script src="/js/ParsingService.js"></script>
</body>
</html>



